$atom-1: #5c5cff;
$atom-2: #ff5c5c;
$atom-3: #5cff5c;
$atom-4: #ffff5c;
$electron-primary: #fff;
$electron-secondary: #ccc;

$background: #000;
$foreground: #fff;
$board-shadow: $foreground;

$ok: #5cff5c;
$warning: #ffff5c;
$danger: #ff5c5c;